<?xml version="1.0" encoding="UTF-8"?>

<!-- Add appendixes -->

<morocron bootstrap="">
    <tasksuites>
        <tasksuite name="default">
            <task>Morocron\Sorter\...Task</task>
        </tasksuite>
    </tasksuites>
    <validatorsuites>
        <validatorsuite name="default">
            <validator>Morocron\Sorter\...Validator</validator>
        </validatorsuite>
    </validatorsuites>
</morocron>